
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<div layout:fragment="content">
    <div class="container mt-3" style="width: 250px">
            <h3 style="color:red">Access denied!</h3>
    </div>
</div>
</html>

<!--<script type="text/javascript">-->
    loadProducts()

    function loadProducts() {
        alert ("hello")
            let req = new XMLHttpRequest()
            req.open("GET", "http://localhost:8080/products")
            req.send()
            let html =""
            req.onload = function () {
                let array= JSON.parse(req.responseText)
                html += "<div class=\"row row-cols-1 row-cols-md-3 mb-3 text-center\">\n" +
                    "      <div class=\"col\">\n" +
                    "        <div class=\"card mb-4 rounded-3 shadow-sm\">\n" +
                    "          <div class=\"card-header py-3\">\n" +
                    "            <h4 class=\"my-0 fw-normal\">Pro</h4>\n" +
                    "          </div>\n" +
                    "          <div class=\"card-body\">\n" +
                    "            <h1 class=\"card-title pricing-card-title\">$15<small class=\"text-muted fw-light\">/mo</small></h1>\n" +
                    "            <ul class=\"list-unstyled mt-3 mb-4\">\n" +
                    "              <li>20 users included</li>\n" +
                    "              <li>10 GB of storage</li>\n" +
                    "              <li>Priority email support</li>\n" +
                    "              <li>Help center access</li>\n" +
                    "            </ul>\n" +
                    "            <button type=\"button\" class=\"w-100 btn btn-lg btn-primary\">Get started</button>\n" +
                    "          </div>\n" +
                    "        </div>\n" +
                    "      </div>\n" +
                    "    </div>"
                document.getElementById("products").innerHTML = html
            }

    }


<!--</script>-->