
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="layout/main.html">

<div layout:fragment="content">
    <div hidden id="productId" th:text="${product.getId()}"></div>
<!--    <div hidden id="hotdeal" th:text="${product.isHotDeal()}"></div>-->
    <div id="productdetails" class="mt-3"></div>
    <script type="text/javascript">
        // let hotdeal = document.getElementById("hotdeal").innerText
        // alert(hotdeal)
        let id = document.getElementById("productId").innerText
        productDetails(id)
        function productDetails(id){
            let req = new XMLHttpRequest()
            req.onload = function () {
                let html = ""
                let productView = JSON.parse(req.responseText)
                html +="<div class='mx-auto text-center'><h4>"+productView.name+"</h4></div>"
                html +="<table class='table table-striped w-50 mx-auto'>"
                html +="<tbody>"
                html +="<tr>"
                html +="<td>Price:</td>"
                html +="<td>"+productView.price+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Brand:</td>"
                html +="<td>"+productView.brand+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Category:</td>"
                html +="<td>"+productView.category+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Rating:</td>"
                html +="<td>"+productView.rating+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Deal of the Day:</td>"
                html +="<td>"+productView.isHotDeal+"</td>"
                html += "</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Display:</td>"
                html +="<td>"+productView.specs.display+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Processor:</td>"
                html +="<td>"+productView.specs.processor+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>RAM:</td>"
                html +="<td>"+productView.specs.ram+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Memory:</td>"
                html +="<td>"+productView.specs.memory+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>Videocard:</td>"
                html +="<td>"+productView.specs.video+"</td>"
                html +="</tr>"
                html +="<tr>"
                html +="<td>OS:</td>"
                html +="<td>"+productView.specs.os+"</td>"
                html +="</tr>"
                html +="</tbody>"
                html +="</table>"
                document.getElementById("productdetails").innerHTML=html
            }
            req.open("GET","http://localhost:8080/api/products/" + id)
            req.send()
        }

    </script>
</div>



</html>